body {
   background-color: rgb(253, 227, 240);
}

.container {
   width: 850px;
   display: grid;
   margin: 0 auto;
   grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
   gap: 30px;
 max-width: 90%;
   place-items: center;
   border-radius: 10px;

}

.container2 {
   margin: 0 auto;
   max-width: 60%;
}

.imgflor {
   width: 50%;
   height: 50%;
   border-radius: 10px;
}
.esgotado{
   position: absolute;
   max-width: 80%;
}

.desconto{
   position: absolute;
   width: 40px;
   top: 100px;
   right: -11px;
}

.griditem {
   width: 135px;
   height: 135px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: rgb(255, 208, 216);
   border: 5px;
   border-radius: 10px;
   position: relative;
}

.griditem:hover {
   transform: scale(1.05);
   box-shadow: 0 4px 12px rgba(241, 53, 100, 0.1);
}

.banner img {
   width: 100%;
   height: 300px;
   display: block;
}


.banner {
   margin-bottom: 30px;
   bottom: 40px;
}

.logo {
   color: rgb(131, 11, 75);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   display: flex;
   justify-content: center;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   text-align: right;
   flex-direction: row;
}

.logo2 img {
   display: grid;
   width: 100px;
   text-align: center;

}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   text-align: right;
   flex-direction: row;
   background-color: rgb(248, 194, 202);

}

footer .social {
   color: rgb(95, 12, 54);
   margin-top: 30px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
   background-color: pink;
   display: flex;
   justify-content:space-around;
   align-items: center;
   flex-direction: column;
   
}

.midia {
   width: 50px;
}
.oficialdiv{
   width: 100%;
   display: flex;
  align-items: center;
  justify-content: center;
}
.oficial{
   flex-direction: row;
   justify-content:space-between;
   display: flex;
   width: 100px;
   
}
.order1 {
   grid-row: 2;

}

.order2 {
   grid-row: 2;
}

@media screen and (min-width: 1000px) {
   .midia{
      text-align: center; 
   }
}

@media screen and (min-width: 1000px) {
   footer .social {
      flex-direction: row; 
     
   }
}