.container {
    width: 100%;
    display: grid;
    margin: 0 auto;
    max-width: 60%;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    gap: 10px;
    background-color: rgb(250, 233, 245);
    place-items: center;
    border-radius: 10px;

}

.container2 {
    margin: 0 auto;
    max-width: 60%;

}

.imgflor {
    width: 50%;
    height: 50%;
}

.griditem {
    width: 135px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: pink;
    border: 5px;
    border-radius: 10px;
}

.griditem:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(241, 53, 100, 0.1);
}

.logo {
    font-family: cursive;
}

.logo2 {
    text-align: left;
    width: 20%;
    height: 20%;
    margin-bottom: 20px;
}

header {
    text-align: right;
    margin-bottom: 30px;
    background-color: #f4c2c2;
}
footer .social-media a {
    text-align: right;
    margin-bottom: 30px;
    background-color: #f4c2c2;
    padding: 20px;
}

.order1 {
    grid-row: 2;

}

.order2 {
    grid-row: 2;
}